{% extends 'base.html' %}

{% block header %}
{% block title %}О нас{% endblock %}
{% endblock %}

{% block content %}
<div class="d-flex flex-column flex-auto justify-content-center">
    <p class="text-secondary text-center">Идея сервиса:</p>
    <p class="text-center">Выпускники ФАЛТ МФТИ 2013 и их друзья</p> <br>
    <p class="text-secondary text-center">Реализация:</p>
    <p class="text-center">serxopter</p>
    <p class="text-secondary text-center">Хостинг, консультации:</p>
    <p class="text-center">Брат <a href="https://badb.fun" class="link">slam_v</a></p>
</div>

{% endblock %}