{% extends 'base.html' %}

{% block header %}
<h1>
{% block title %}
Редактирование -
{% if budget_file %}
    {{budget_file[:-4]}}
{% else %}
    не выбран
{% endif %}
    - Удаление
{% endblock %}
</h1>
{% endblock %}

{% block content %}
<hr>

<h3> Удалить бюджет "{{budget_file[:-4]}}"? </h3>
<form method="post" name="ok"
      action="{{url_for('budget.delete_budget_ok', budget_file=budget_file)}}">
<table>
    <tr>
        <td><input name="ok" type="submit" value="Ок" ></td>
        <td><input name="cancel" type="submit" value="Отмена"></td>
    </tr>
</table>
</form>

{% endblock %}