{% extends 'base.html' %}

{% block header %}
{% block title %}
{% if budget_file %}
    "{{budget_file[:-4]}}"
{% else %}
    Файл не выбран
{% endif %}
    {% if index == -1%}
    - Новая трата
    {% else %}
    - Трата № {{index+1}}
    {% endif %}
{% endblock %}
{% endblock %}

{% block content %}

<!--Заголовок-->
<div class="card">
    <div class="card-header">
        <p class="text-center h5">
            <a data-toggle="collapse" href="#headerBodyCard">
                Шаг 1. Заголовок
            </a>
        </p>
    </div>

    {% if spending.amount > 0 %}
    <div class="card-body collapse" id="headerBodyCard">
    {% else %}
    <div class="card-body collapse show" id="headerBodyCard">
    {% endif %}
        <form name="editspendinghead" method="post" id="editspendinghead"
              action="{{url_for('spending.edit_head')}}">

            <!-- Сумма и Дата -->
            <div class="container">
                <div class="row flex-nowrap">
                    <div class="col-sm">
                        <label for="spendingAmount">Сумма</label>
                    </div>
                    <div class="col-sm">
                        <label for="spendingDate">Дата</label>
                    </div>
                </div>
                <div class="row flex-nowrap">
                    <div class="col-sm">
                        {% if spending.amount == 0 %}
                        <input type="text" class="form-control" name="spendingamount" id="spendingAmount" inputmode="decimal" size="5">
                        {% else %}
                        <input type="text" class="form-control" name="spendingamount" id="spendingAmount" inputmode="decimal" value="{{spending.amount}}" size="5">
                        {% endif %}
                    </div>
                    <div class="col-sm">
                         <input type="text" class="form-control" name="spendingdate" id="spendingDate"  value="{{spending.get_date_s()}}" size="5">
                    </div>
                </div>
                <div class="row flex-nowrap">
                    <div class="col-6 offset-6">
                        <small class="form-text text-muted">Формат: ДД.ММ.ГГГГ</small>
                    </div>
                </div>
            </div>

            <!-- Описание и Тэг -->
            <div class="col-auto mt-4">
                <div class="row justify-content-flex-start" >
                    <div class="col-6">
                        <input type="text" class="form-control" placeholder="Описание" name="spendingmemo" id="spendingMemo"  value="{{spending.memo}}">
                    </div>
                    <div class="col-6">
                        <div class="row flex-nowrap">
                                {% if budget.get_all_attrs().__len__() > 0 %}
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">...</button>
                                <ul class="dropdown-menu">
                                    {% for attr in budget.get_all_attrs() %}
                                        <li>
                                        <input type="submit" class="dropdown-item" name="spendingattrexisting" value="{{attr.memo}}">
                                        </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                <input type="text" class="form-control" placeholder="Тэг" name="spendingattr" id="spendingAttr"  value="{{spending.attr.memo}}">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Оплативший -->
            <div class="col-auto mt-4">
                <div class="row-auto">
                    <label for="spendingPayer">Оплатил</label>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <select class="form-control" name="spendingpayer" id="spendingPayer">
                            {% for person in budget.persons_list %}
                            <option {% if person.name == spending.payer.name %} selected {% endif %} >{{person.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <!-- Кнопка "Сохранить заголовок" -->
            <div class="row-auto mt-4 flex-nowrap">
                <div class="col-sm">
                    <input class="form-control btn-primary" name="ok" type="submit" value="Сохранить заголовок">
                </div>
            </div>

        </form>
    </div>
</div>


<!--Потребители-->
<div class="card">
    <div class="card-header">
        <p class="text-center h5">Шаг 2. Потребители</p>
    </div>
    {% if spending.amount > 0 %}
    <div class="card-body justify-content-center row">
        <div class="col">
            {% if spending.is_calculated() %}
            <h5 class="text-success text-center">Расход распределён: <span class="badge badge-success">{{"{0:8.2f}".format(spending.amount)}}</span> </h5>
            {% else %}
            <h5 class="text-danger text-center">Нераспределённая сумма: <span class="badge badge-danger">{{"{0:8.2f}".format(spending.get_undistributed_value())}}</span>
            </h5>
            {%endif%}

            <table class="table table-striped table-sm">
                <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>Сумма</th>
                    <th>Имя</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for c in spending.consumers_list %}
                <tr>
                    <td>
                        <form method="post" name="editperson"
                              action="{{url_for('spending.edit_person', consumer_number=spending.consumers_list.index(c))}}">
                            <input type="image" src="{{url_for('static', filename='edit.png')}}" alt="Редактировать"
                                   class="pictobutton">
                        </form>
                    </td>
                    <td>{{"{0:8.2f}".format(c.amount)}}</td>
                    <td>{{c.person.name}}</td>
                    <td>
                        <form method="post" name="deleteperson"
                              action="{{url_for('spending.remove_person', consumer_number=spending.consumers_list.index(c))}}">
                            <input type="image" src="{{url_for('static', filename='cross.png')}}" alt="Удалить"
                                   class="pictobutton">
                        </form>
                    </td>
                </tr>
                {% endfor %}
                {% if spending.is_calculated() %}
                {% else %}
                <tr>
                    <form method="post" name="addperson" id="addpersonID"
                          action="{{url_for('spending.add_person')}}">
                        <td></td>
                        <td>
                            {% if consumer %}
                            <input class="form-control" name="amount" type="text" size="10" value="{{consumer.amount}}">
                            {% else%}
                            <input class="form-control" name="amount" type="text" size="10" value="{{'{0:8.2f}'.format(spending.get_undistributed_value())}}">
                            {%endif%}
                        </td>
                        <td>
                            <select name="name" class="form-control" form="addpersonID">
                                {% for person in budget.persons_list %}
                                {% if consumer != None and consumer.person.name == person.name %}
                                <option selected>{{person.name}}</option>
                                {% else%}
                                <option>{{person.name}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input name="addperson" type="image" src="{{url_for('static', filename='plus.png')}}"
                                   alt="Добавить"
                                   class="pictobutton">
                        </td>
                    </form>
                </tr>
                {% endif %}
                </tbody>
            </table>

            <div class="row flex-nowrap">
                <div class="col-auto">
                    <p class="lead">Распределить: </p>
                </div>
                <div class="col-auto">
                    <form method="post" name="calc"
                      action="{{url_for('spending.calc')}}">
                    <div class="btn-group" >
                        <input name="aver" type="submit" value="Поровну" class="btn btn-secondary mr-1">
                        <input name="weighted" type="submit" value="C весом" class="btn btn-secondary">
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="card-body justify-content-center row">
        <em class="text-info text-center">
        Для перехода к шагу 2 укажите сумму и оплатившего
        </em>
    </div>
    {% endif %}
</div>

<form method="post" name="ok"
      action="{{url_for('spending.submit', index=index)}}">
    <div class="col-auto mt-1">
        {% if spending.is_calculated() and budget.is_participant(spending.payer.name) %}
        <div class="form-group">
            <input class="form-control btn-success" name="ok" type="submit" value="Ок">
        </div>
        <div class="form-group">
            <input class="form-control btn-warning" name="cancel" type="submit" value="Отмена">
        </div>
        {% else %}
        <div class="form-group">
            <input class="form-control btn-warning" name="cancel" type="submit" value="Отмена">
        </div>
        {% endif %}
    </div>
</form>

{% endblock %}
