{% extends 'base.html' %}

{% block header %}
{% block title %}Главная{% endblock %}
{% if 'user_name' in session: %}
 - {{session['user_name']}}
{% endif %}
{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col">
        {% if 'user_name' in session: %}
        <p class="text-center">
            Для начала выберете существующий бюджет из списка...
        </p>
        <div class="list-group">
        {% for budget in g.saved_budgets %}
        <a href="{{url_for('edit_budget', budget_file=budget)}}" class="list-group-item list-group-item-action">
        {{budget[:-4]}}
        </a>
        {% endfor %}
        </div>
        <p class="text-center">
            ... или создайте новый бюджет
        </p>
        <form method="post" action="{{url_for('main')}}">
            <div class="d-flex flex-column align-items-center flex-fill">
                <input name="budgetname" id="budgetname"
                       class="form-control w-auto" placeholder="Имя файла" required>
                <input type="submit" value="Создать" class="btn btn-success btn-lg mt-2">
            </div>
        </form>
        {% else %}
        <p class="text-center">
            Веб-сервис поиска должников в компании.
        </p>
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="{{url_for('auth.login')}}" class="btn btn-success my-2">Вход</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
               <a href="{{url_for('auth.register')}}" class="btn btn-info">Регистрация</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>



{% endblock %}
