{% extends 'base.html' %}

{% block header %}
<h3 class="text-info text-">{% block title %}Главная{% endblock %}</h3>
{% endblock %}

{% block content %}
<div class="d-flex flex-column">
    <p class="text-center">
        Веб-сервис поиска должников в компании. Для начала создайте новый бюджет или выберете
        существующий из списка на панели навигации.
    </p>
    <form method="post" action="{{url_for('main')}}">
        <div class="d-flex flex-column align-items-center flex-fill">
            <input name="budgetname" id="budgetname"
                   class="form-control w-auto" placeholder="Имя файла" required>
            <input type="submit" value="Создать" class="btn btn-success btn-lg mt-2">
        </div>
    </form>
</div>

{% endblock %}
