{% extends 'base.html' %}

{% block header %}

{% block title %}
Отчёт -
{% if budget_file %}
"{{budget_file[:-4]}}"
{% else %}
Бюджет не выбран
{% endif %}
{% endblock %}

{% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <p class="text-right">
            <a href="{{url_for('edit_budget', budget_file=budget_file)}}" title="Редактировать">
                Редактировать
            </a>
        </p>
    </div>
</div>

<!--Отчёт по каждому участнику-->
<div class="card">
    <div class="card-header">
        <p class="text-center text-info my-0 h5">
            <a data-toggle="collapse" href="#allParticipantCards">
                Участники
            </a>
        </p>
    </div>
    <div class="card-body collapse p-1" id="allParticipantCards">
        <!--Цикл отчётов по каждому участнику-->
        {% for p in budget.persons_list %}
        <div class="card">
            <div class="card-header">
                <p class="text-center text-info my-0">
                    <a data-toggle="collapse" href="#card{{budget.persons_list.index(p)}}">
                        {{p.name}}
                    </a>
                </p>
            </div>
            <div class="card-body collapse" id="card{{budget.persons_list.index(p)}}">

                <!--Суммарная информация по участнику-->
                <table class="table table-striped table-sm">
                    <tbody>
                    <tr>
                        <th scope="row">Потребил всего</th>
                        <td>
                            {{'{0:8.2f}'.format(budget.get_consumption_amount_for_person(p.name))}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Потребил за чужой счёт</th>
                        <td>
                            {{'{0:8.2f}'.format(budget.get_consumption_amount_not_payed_by_him_for_person(p.name))}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Потратил</th>
                        <td>
                            <p class="text-success mb-0">
                                {{'{0:8.2f}'.format(budget.get_spending_amount_for_person(p.name))}}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Потратил на себя</th>
                        <td>
                            <p class="text-success mb-0">
                                {{'{0:8.2f}'.format(budget.get_spending_amount_own_for_person(p.name))}}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Потратил на других</th>
                        <td>
                            <p class="text-success mb-0">
                                {{'{0:8.2f}'.format(budget.get_spending_amount_for_person(p.name)-budget.get_spending_amount_own_for_person(p.name))}}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Долг свой<a data-toggle="collapse" href="#debtNote1">*</a></th>
                        <td>
                            {% if budget.get_debt_for_person_pure(p.name) > 0 %}
                            <p class="text-danger mb-0">
                                {% else %}
                            <p class="text-success mb-0">
                                {% endif %}
                                {{'{0:8.2f}'.format(budget.get_debt_for_person_pure(p.name))}}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Долг<a data-toggle="collapse" href="#debtNote2">**</a></th>
                        <td>
                            {% if budget.get_debt_for_person(p.name) > 0 %}
                            <p class="text-danger mb-0">
                                {% else %}
                            <p class="text-success mb-0">
                                {% endif %}
                                {{'{0:8.2f}'.format(budget.get_debt_for_person(p.name))}}
                            </p>
                        </td>
                    </tr>
                    {% if budget.get_person_name_who_pays_for(p) %}
                    <tr>
                        <th scope="row">Долг оплатит</th>
                        <td>
                            {{'{0:10s}'.format(budget.get_person_name_who_pays_for(p.name))}}
                        </td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>

                <div class="collapse" id="debtNote1">
                    <p class="text-justify">
                        <small class="text-info">
                            <sup>*</sup> Свой долг участника рассчитывается с учётом его потреблений, трат и промежуточных операций  по долгам.
                            Обязательства по оплате долгов других участников, а также такие обязательства других участников не учитываются.
                        </small>
                    </p>
                </div>
                <div class="collapse" id="debtNote2">
                    <p class="text-justify">
                        <small class="text-info text-justify">
                            <sup>**</sup> Долг участника рассчитывается с учётом его потреблений, трат, промежуточных операций  по долгам, а также его
                            обязательств по оплате долгов других участников. Другими словами - это то количество денег, которое участник
                            должен отдать. Отрицательная величина означает, что участнику должны денег.
                        </small>
                    </p>
                </div>

                <!--Расходы-->
                <p class="text-center h6 mt-3">Расходы {{p.name}}</p>
                <table class="table table-striped table-sm">
                    <tbody>
                    {% for s in budget.get_spending_list_for_person(p.name) %}
                    <tr>
                        <td><p class="text-black-50 mb-0">{{ loop.index0+1 }}</p></td>
                        <td>
                            <div class="d-flex flex-column">
                                <div>
                                    <small>{{s.memo}}</small>
                                </div>
                                <div>
                                    <small class="text-primary">{{s.date_time.strftime('%d.%m.%y')}}</small>
                                </div>
                            </div>
                        </td>
                        <td><p class="text-success mb-0">{{'{0:8.2f}'.format(s.amount)}}</p></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td><b>Всего</b></td>
                        <td><p class="text-success mb-0">{{'{0:8.2f}'.format(budget.get_spending_amount_for_person(p.name))}}</p></td>
                    </tr>
                    </tbody>
                </table>

                <br>
                <!--Потребления-->
                <p class="text-center h6">Потребление {{p.name}}</p>
                <table class="table table-striped table-sm">
                    <tbody>
                    {% for c in budget.get_consumption_list_for_person(p.name) %}
                    <tr>
                        <td><p class="text-black-50 mb-0">{{ loop.index0+1 }}</p></td>
                        <td>
                            <div class="d-flex flex-column">
                                <div>
                                    <small>{{c.memo}}</small>
                                </div>
                                <div>
                                    <small class="text-primary">{{c.spending.date_time.strftime('%d.%m.%y')}}</small>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle">
                        <div>
                            <p class="text-success mb-0">{{'{0:8.2f}'.format(c.amount)}}</p>
                        </div>
                        <div>
                            <small class="text-info">{{c.spending.attr.memo}}</small>
                        </div>
                    </td>
                        <td class="align-middle">
                            <p class="text-body mb-0">{{c.spending.payer.name}}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td><b>Всего</b></td>
                        <td><p class="text-success mb-0">{{'{0:8.2f}'.format(budget.get_consumption_amount_for_person(p.name))}}</p></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>


                {% if budget.get_all_attrs().__len__() > 0 %}
                <!--Потребления по тэгам-->
                <p class="text-center h6">Сумма потребления {{p.name}} по тэгам</p>
                <table class="table table-striped table-sm">
                    <tbody>
                    {% for attr in budget.get_all_attrs() %}
                    <tr>
                        <td><p class="text-black-50 mb-0">{{ loop.index0+1 }}</p></td>
                        <td>
                            <div class="d-flex flex-column">
                                <div>
                                    <p class="text-info"> {{attr.memo}} </p>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle">
                            {{'{0:8.2f}'.format(budget.get_spendings_amount_by_attr_for_person(attr, p.name))}}
                        </td>
                        <td></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}

            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!--По категориям-->
{% if budget.get_all_attrs().__len__() > 0 %}
<div class="card">
    <div class="card-header">
        <p class="text-center text-info my-0 h5">
            <a data-toggle="collapse" href="#cathegorycard">
                Тэги
            </a>
        </p>
    </div>
    <div class="card-body collapse" id="cathegorycard">

        <!--Цикл по каждой категории-->
        {% for attr in budget.get_all_attrs() %}
        <div class="card-header">
         <p class="text-center text-info my-0">
                    <a data-toggle="collapse" href="#attr_{{attr.memo}}">
                    {{attr.memo}}

             - {{'{0:8.2f}'.format(budget.get_spendings_amount_by_attr(attr))}}
                        </a>
         </p>
        </div>

            <div class="card-body collapse" id="attr_{{attr.memo}}">
                <table class="table table-striped table-sm">
                <tbody>
            {% for s in budget.get_spendings_by_attr(attr) %}
                <tr>
                    <td class="align-middle"><p class="text-black-50 mb-0">{{budget.get_spendings_by_attr(attr).index(s)+1}}</p></td>
                    <td>
                        <div class="d-flex flex-column">
                            <div>{{s.memo}}</div>
                            <div><small class="text-info">{{s.date_time.strftime('%d.%m.%y')}}</small> </div>
                        </div>
                    </td>
                    <td class="align-middle">
                        <div>
                            <p class="text-success mb-0">{{s.amount}}</p>
                        </div>
                        <div>
                            <small class="text-info">{{s.attr.memo}}</small>
                        </div>
                    </td>
                    <td class="align-middle">
                        <p class="text-body mb-0">{{s.payer.name}}</p>
                    </td>
                </tr>
            {% endfor %}
                <tr>
                        <td></td>
                        <td><b>Всего</b></td>
                        <td>{{'{0:8.2f}'.format(budget.get_spendings_amount_by_attr(attr))}}</td>
                        <td></td>
                    </tr>
        </tbody>
    </table>
                </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<!--Суммарная информация-->
<div class="card my-3">
    <div class="card-header">
        <p class="text-center my-0 h5">
            Суммарная информация
        </p>
    </div>

    <div class="card-body">
        <table class="table table-striped table-sm">
            <tbody>
            <tr>
                <th scope="row">Сумма расходов</th>
                <td>
                    {{'{0:8.2f}'.format(budget.get_spending_amount_total())}}
                </td>
            </tr>
            <tr>
                <th scope="row">Сумма переводов</th>
                <td>
                    {{'{0:8.2f}'.format(budget.get_transaction_sum())}}
                </td>
            </tr>

            <tr>
                <th scope="row">Бюджет сошёлся</th>
                <td>
                    {% if budget.is_converged() %}
                    <p class="text-success my-0">Да</p>
                    {% else %}
                    <p class="text-warning my-0">Нет</p>
                    {% endif %}
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</div>

<!--Промежуточные операции по долгам-->
<div class="card my-3">
    <div class="card-header">
        <p class="text-center my-0 h5">
            Промежуточные операции по долгам
        </p>
    </div>
    <div class="card-body justify-content-center">
        {% if budget.debt_operations_list_inter.__len__() > 0%}
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th></th>
                <th>Кто</th>
                <th>Сумма</th>
                <th>Кому</th>
            </tr>
            </thead>
            <tbody>
            {% for op in budget.debt_operations_list_inter %}
            <tr>
                <td><p class="text-black-50 mb-0">{{budget.debt_operations_list_inter.index(op)+1}}</p></td>
                <td>{{op.creditor.name}}</td><td>{{"{0:8.2f}".format(op.amount)}}</td><td>{{op.debtor.name}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="text-center">Отсутствуют</p>
        {% endif %}
    </div>
</div>

<!--Долги-->
<div class="card my-3">
    <div class="card-header">
        <p class="text-center h5 my-0">
            Долги
        </p>
    </div>
    <div class="card-body justify-content-center">
        {% if budget.debt_operations_list.__len__() > 0 %}
        <table class="table table-striped table-sm">
            {% for op in budget.debt_operations_list %}
            <tr>
                <td>{{op.debtor.name}}</td><td> ===> </td><td>{{op.creditor.name}}</td><td>{{"{0:8.2f}".format(op.amount)}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>

<!--Попарные расчёты-->
<div class="card my-3">
    <div class="card-header">
        <p class="text-center text-info my-0">
        <a data-toggle="collapse" href="#pairDebtsInfo">
            Попарные расчёты
        </a>
        </p>
    </div>
    <div class="card-body justify-content-center collapse" id="pairDebtsInfo">
        {% if (budget.persons_list.__len__() > 0 and budget.spending_list.__len__() > 0) %}
        <small class="text-info text-justify">
            Расчёт между каждой парой участников осуществляется с учётом потреблений, трат и промежуточных операций
            по долгам каждого из участников, но без учёта обязательств по оплате долгов одних участников другими.
        </small>

        <div class="card my-3">
        <table class="table table-striped table-sm">
            {% for p in budget.persons_list %}
            {% for d in budget.get_debts_to_other_persons(p) %}
            <tr>
                <td>{{p.name}}</td>

                {% if d.debtor.name == p.name %}
                <td> в долгу перед </td>
                <td>{{d.creditor.name}}</td>
                <td><p class="text-danger mb-0">{{"{0:8.2f}".format(d.amount)}}</p></td>
                {% endif %}
                {% if d.creditor.name == p.name %}
                <td> кредитует </td>
                <td>{{d.debtor.name}}</td>
                <td><p class="text-success mb-0">{{"{0:8.2f}".format(d.amount)}}</p></td>
                {% endif %}

            </tr>
            {% endfor %}

            <!-- Не рисовать горизонтальную линию после последнего участника -->
            {% if budget.persons_list.index(p)+1 < budget.persons_list.__len__() %}
            <tr>
                <td colspan="4"> <p class="text-center text-info my-0"> <hr> </p>  </td>
            </tr>
            {% endif %}

            {% endfor %}
        </table>
        </div>
        {% endif %}
    </div>
</div>

<!--Служебная информация-->
<div class="card my-3">
    <div class="card-header">
        <p class="text-center text-info my-0">
            <a data-toggle="collapse" href="#serviceInfo">
                Служебная информация
            </a>
        </p>
    </div>

    <div class="card-body collapse" id="serviceInfo">
        <table class="table table-striped table-sm">
            <tbody>
            <tr>
                <th scope="row">Сумма расходов</th>
                <td>
                    {{'{0:8.2f}'.format(budget.get_spending_amount_total())}}
                </td>
            </tr>
            <tr>
                <th scope="row">Сумма потребления</th>
                <td>
                    {{'{0:8.2f}'.format(budget.get_consumption_amount_total())}}
                </td>
            </tr>
            <tr>
                <th scope="row">Сумма долгов</th>
                <td>
                    {{'{0:8.2f}'.format(budget.get_debt_sum())}}
                </td>
            </tr>
            <tr>
                <th scope="row">Сумма положительных долгов</th>
                <td>
                    {{'{0:8.2f}'.format(budget.get_positive_debt_sum())}}
                </td>
            </tr>
            <tr>
                <th scope="row">Сумма переводов</th>
                <td>
                    {{'{0:8.2f}'.format(budget.get_transaction_sum())}}
                </td>
            </tr>

            <tr>
                <th scope="row">Бюджет сошёлся</th>
                <td>
                    {% if budget.is_converged() %}
                    <p class="text-success my-0">Да</p>
                    {% else %}
                    <p class="text-warning my-0">Нет</p>
                    {% endif %}
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</div>






<!--<hr>-->
<!--В бюджете "{{budget.memo}}" участвуют:-->
<!--<br>-->
<!--<p>-->
<!--<table border="1" cellpadding="5" rules="all">-->
<!--<tr align="center">-->
<!--<td><b>Имя</b></td>-->
<!--<td><b>Вес</b></td>-->
<!--<td><b>Отдаёт долг за</b></td>-->
<!--</tr>-->
<!--{% for p in budget.persons_list %}-->
<!--<tr>-->
<!--<td>{{p.name}}</td>-->
<!--<td>{{p.weight}}</td>-->
<!--<td>{{p.pays_for}}</td>-->
<!--</tr>-->
<!--{% endfor %}-->
<!--</table>-->
<!--</p>-->
<!--<hr>-->
<!--Зафиксировано операций на сумму {{budget.get_spending_amount_total()}} Р:-->
<!--<p>-->
<!--<table border="1" cellpadding="5" rules="all">-->
<!--<tr align="center">-->
<!--<td rowspan="2"><b>Дата</b></td>-->
<!--&lt;!&ndash;<td rowspan="2"><b>Время</b></td>&ndash;&gt;-->
<!--<td rowspan="2"><b>Сумма</b></td>-->
<!--<td rowspan="2"><b>Описание</b></td>-->
<!--<td rowspan="2"><b>Оплатил</b></td>-->
<!--<td colspan={{"{0:2d}".format(budget.persons_list.__len__())}}><b>Потребляли</b></td>-->
<!--<tr>-->
<!--{% for p in budget.persons_list %}-->
<!--<td>{{p.name}}</td>-->
<!--{% endfor %}-->
<!--</tr>-->
<!--</tr>-->
<!--{% for s in budget.spending_list %}-->
<!--<tr>-->
<!--<td>{{s.get_date_s()}}</td>-->
<!--&lt;!&ndash;<td>{{s.date_time.strftime('%H:%M')}}</td>&ndash;&gt;-->
<!--<td>{{s.amount}}</td>-->
<!--<td>{{s.memo}}</td>-->
<!--<td>{{s.payer.name}}</td>-->
<!--{% for p in budget.persons_list %}-->
<!--<td>-->
<!--{{"{0:8.2f}".format(s.get_consumption_amount_for_person(p))}}-->
<!--</td>-->
<!--{% endfor %}-->

<!--</tr>-->
<!--{% endfor %}-->
<!--</table>-->
<!--</p>-->
<!--<hr>-->
<!--<table>-->
<!--{% for p in budget.persons_list %}-->
<!--{% if budget.get_spending_amount_for_person(p) > 0 %}-->
<!--<tr>-->
<!--<td>{{p.name}}</td>-->
<!--<td> всего потратил</td>-->
<!--<td>{{budget.get_spending_amount_for_person(p)}} Р:</td>-->
<!--{% for sp in budget.get_spending_list_for_person(p) %}-->
<!--<tr>-->
<!--<td></td>-->
<!--<td></td>-->
<!--<td>{{sp.amount}} Р</td>-->
<!--<td>на {{sp.memo}}</td>-->
<!--</tr>-->
<!--{% endfor %}-->
<!--</tr>-->
<!--{% endif %}-->
<!--{% endfor %}-->
<!--</table>-->
<!--<hr>-->
<!--<table>-->
<!--{% for p in budget.persons_list %}-->
<!--<tr>-->
<!--<td>{{p.name}}</td>-->
<!--<td> всего потребил на</td>-->
<!--<td>{{"{0:8.2f}".format(budget.get_consumption_amount_for_person(p))}} Р</td>-->
<!--{% for sp in budget.get_consumption_list_for_person(p) %}-->
<!--<tr>-->
<!--<td></td>-->
<!--<td></td>-->
<!--<td>{{"{0:8.2f}".format(sp.amount)}} Р:</td>-->
<!--<td>-->
<!--<td>{{sp.memo}}</td>-->
<!--<td> за счёт</td>-->
<!--<td>{{sp.spending.payer.name}}</td>-->
<!--</tr>-->
<!--{% endfor %}-->
<!--</tr>-->
<!--{% endfor %}-->
<!--</table>-->
<!--Сумма потребления: {{"{0:8.2f}".format(budget.get_consumption_amount_total())}} Р-->
<!--<hr>-->

<!--<table border="1" cellpadding="5" rules="all">-->
<!--<tr align="center">-->
<!--<td><b>Имя</b></td>-->
<!--<td><b>Долг</b></td>-->
<!--<td><b>Потребил - Потратил</b></td>-->
<!--<td><b>Кто платит</b></td>-->
<!--</tr>-->
<!--{% for p in budget.persons_list %}-->
<!--<tr align="center">-->
<!--<td>{{p.name}}</td>-->
<!--<td>{{"{0:8.2f}".format(budget.get_debt_for_person(p))}} Р</td>-->
<!--<td>{{"{0:8.2f}".format(budget.get_consumption_amount_for_person(p)-budget.get_spending_amount_for_person(p))}}-->
<!--Р-->
<!--</td>-->
<!--{% if budget.get_person_name_who_pays_for(p) != '' and budget.get_debt_for_person(p) == 0%}-->
<!--<td> платит {{budget.get_person_name_who_pays_for(p)}}</td>-->
<!--{% else %}-->
<!--<td>сам</td>-->
<!--{% endif %}-->
<!--</tr>-->
<!--{% endfor %}-->
<!--</table>-->
<!--Сумма всех долгов: {{"{0:8.2f}".format(budget.get_debt_sum())}} Р.<br>-->
<!--Сумма положительных долгов: {{"{0:8.2f}".format(budget.get_positive_debt_sum())}} Р.-->
<!--<hr>-->

<!--<table cellpadding="5">-->
<!--{% for op in budget.debt_operations_list %}-->
<!--<tr>-->
<!--<td>{{op.debtor.name}}</td>-->
<!--<td> &#45;&#45;&ndash;&gt;</td>-->
<!--<td>{{op.creditor.name}}</td>-->
<!--<td>{{"{0:8.2f}".format(op.amount)}} Р</td>-->
<!--</tr>-->
<!--{% endfor %}-->
<!--</table>-->
<!--Cумма переводов: {{"{0:8.2f}".format(budget.get_transaction_sum())}} Р.-->
<!--<hr>-->
{% endblock %}